Django==6.1.2
Wagtail==8.0
django-environ==0.14.0
psycopg2-binary==2.9.13
dj-database-url==3.1.0
gunicorn==23.0.0
django-storages==1.14.6
boto3==1.43.93
wagtail-modeladmin==2.5.0
wagtaildraftsharing==0.3.0
django-requestguard @ git+https://github.com/donaldushman/django-requestguard.git@02655b82389c91fd61f1e0a19016789cf9c87569
wagtail-linkaudit @ git+https://github.com/donaldushman/wagtail-linkaudit.git@ffbc2ae5c1decaa9c622342455fa0ace3551a9a4
